<footer id="footer">
  <div class="outer">
      <div class="inner">
          <%- partial('_partial/subscribe') %>
        </div>
    <div class="inner">
      <div class="footer-resources">
        <h3>文档</h3>
        <ul>
          <li><a href="/docs">教程</a></li>
          <li><a href="/docs/overview.html">概述</a></li>
          <li><a href="/api/Konva.html">API 文档</a></li>

          <li><a href="/docs/sandbox/index.html">演示</a></li>
          <li><a href="/docs/react/index.html">与 React 的使用</a></li>
          <li><a href="/docs/vue/index.html">与 Vue 的使用</a></li>
          <li>
            <a href="https://github.com/konvajs/konva/blob/master/CHANGELOG.md"
              >更新日志</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-resources">
        <h3>频道</h3>
        <ul>
          <li>
            <a href="https://github.com/<%- theme.github %>" target="_blank"
              >GitHub</a
            >
          </li>
          <li>
            <a
              href="https://stackoverflow.com/questions/tagged/konvajs"
              target="_blank"
              >StackOverflow</a
            >
          </li>
          <li><a href="https://discord.gg/8FqZwVT" target="_blank">Discord chat</a></li>
          <li>
            <a href="https://github.com/konvajs/konva/blob/master/CHANGELOG.md" target="_blank"
              >更新日志</a
            >
          </li>
        </ul>
        
      </div>
      <div class="footer-resources">
          <h3>更多</h3>
          <ul>
            <li>
              <a href="/docs/support.html"
                >需要帮助吗？</a
              >
            </li>
            <li>
              <a
                href="/docs/donate.html"
                target="_blank"
                >捐赠</a>
            </li>
            <li>
              <a
                href="https://polotno.com/"
                target="_blank"
                >设计编辑器 SDK</a>
            </li>
          </ul>
    </div>
    <div class="inner">
        <div id="footer-copyright">
            &copy; <%= new Date().getFullYear() %> KonvaJS<br />
            <p><a target="_blank" href="https://www.zhcndoc.com?ref=konva"> 简中文档 </a> - <a rel="nofollow" target="_blank" href="https://beian.miit.gov.cn"> 沪ICP备2024070610号-3 </a></p>
          </div>
      <div id="footer-links">
        <a
          href="https://twitter.com/<%= theme.twitter %>"
          id="footer-link-twitter"
          class="footer-link"
          target="_blank"
          ><span>Twitter</span></a
        >
        <a
          href="https://github.com/<%- theme.github %>"
          id="footer-link-github"
          class="footer-link"
          target="_blank"
          ><span>GitHub</span></a
        >
      </div>
    </div>
  
  </div>

  <!-- <a class="chat-button" href="https://discord.gg/8FqZwVT">加入 Discord 聊天</a> -->
  
  <!-- <iframe src="https://discord.com/widget?id=753274212814422176&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe> -->
 
</footer>
